# Your Solution
apiVersion: apps/v1
kind: Deployment
metadata:
  name: book-catalog
spec:
  replicas: 1
  selector:
    matchLabels:
      app: book-catalog
  template:
    metadata:
      labels:
        app: book-catalog
    spec:
      containers: 
      - name: book-catalog
        image: book-catalog:latest
        imagePullPolicy: Never
        env:
        - name: PORT
          value: "8000"    
    
---
apiVersion: v1
kind: Service
metadata:
  name: book-catalog
spec:
  type: NodePort
  selector:
    app: book-catalog
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
      nodePort: 30001
